@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 400;
    src: local('Cantarell Regular'),
         local('Cantarell-Regular'),
         url('{{ site.url }}/otf/Cantarell-Regular.otf') format("opentype");
}
@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 700;
    src: local('Cantarell Bold'),
         local('Cantarell-Bold'),
         url('{{ site.url }}/otf/Cantarell-Bold.otf') format("opentype");
}

body {
    font-family: 'Cantarell';
}
body, header > p {
    margin: 0 auto; padding: 0;
    width: 80%;
    max-width: 1024px;
}

header {
    text-align: center;
}
header > p {
    font-size: 22px;
}
header > img {
    width: 50%;
    max-width: 512px;
}
